%table
  %tr
    %th.times
    %th.day-header Sun
    %th.day-header Mon
    %th.day-header Tue
    %th.day-header Wed
    %th.day-header Thu
    %th.day-header Fri
    %th.day-header Sat
  %tr
    %td 12am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 1am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 2am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 3am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 4am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 5am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 6am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 7am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 8am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 9am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 10am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 11am
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 12pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 1pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 2pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 3pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 4pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 5pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 6pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 7pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 8pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 9pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 10pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td 11pm
    %td
    %td
    %td
    %td
    %td
    %td
    %td
  %tr
    %td &nbsp;
    %td
    %td
    %td
    %td
    %td
    %td
    %td
