%table
  %tr
    %th.times
    %th.day-header Sun
    %th.day-header Mon
    %th.day-header Tue
    %th.day-header Wed
    %th.day-header Thu
    %th.day-header Fri
    %th.day-header Sat
  - hours = 0..23
  - hours.each do |hour|
    %tr
      %td
        = handle_hour(hour, index)
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td &nbsp;
      %td
      %td
      %td
      %td
      %td
      %td
      %td
